.customSwiper {
    padding-bottom: 90px; /* leave room for pagination dots */
    position: relative;
  }
  
  .customSwiper :global(.swiper-pagination) {
    position: absolute;
    bottom: 10px; /* place it just below the swiper */
    width: 100%;
    text-align: center;
  }
  
  .customSwiper :global(.swiper-pagination-bullet) {
    background-color: #BCD8E9;
    opacity: 1;
    padding: 10px;
  }
  
  .customSwiper :global(.swiper-pagination-bullet-active) {
    background-color: #2AA7FF;
  }